/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #B1663C;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1D6154;
}

/*********** Headbandeau ***********/
.headbandeau {
  height: 60px;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 0px -28px 0px -28px;
  gap: 10px;
}

/*********** Nav Link instagram ***********/
.instagram {
  height: 20px;
}

/*********** Main Modal Access ***********/
.fa-pen-to-square {
  position: relative;
  font-size: initial;
  color: black;
  display: inline-flex;
  align-items: baseline;
  margin-bottom: 50px;
  gap: 10px;
  top: -50px;
  left: 700px;
}

.p-modifier {
  font-family: syne;
  font-size: small;
}

/****** Style for Modal-one and Modal-two ******/
.modalBackgroundTransparency {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.8);
}
.modalBackgroundTransparency .modal-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding: 60px 106px 44px;
}
.modalBackgroundTransparency .modal-wrapper .fa-xmark {
  position: absolute;
  font-size: 20px;
  top: 25px;
  right: 36px;
  cursor: pointer;
}

.linerTopButtonModal {
  border-top: 1px solid #B3B3B3;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 13px;
}

/*********** Balise link index-page and login-page ***********/
header a {
  text-decoration: none;
}

/**** ****/
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #B1663C;
}

#introduction {
  display: flex;
  align-items: center;
}

#introduction figure {
  flex: 1;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

/*********** Add buttons nav ***********/
.portfolioNav {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttonCategories {
  display: flex;
  justify-content: center;
  font-family: syne;
  color: #1D6154;
  border-radius: 60px;
  border: 1px solid #1D6154;
  padding: 9px 20px 9px 20px;
  font-size: 1.1em;
  margin-bottom: 3em;
  background: white;
  cursor: pointer;
}

.buttonSelectedCategories {
  background: #1D6154;
  border: none;
  color: white;
}

/*********** End Added Code ***********/
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

#contact {
  width: 50%;
  margin: auto;
}

#contact > * {
  text-align: center;
}

#contact h2 {
  margin-bottom: 20px;
}

#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
  margin: 2em 0 1em 0;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type=submit] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/*********** Login Page***********/
.loginPage {
  font-weight: bold;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.errorLogin {
  color: red;
  font-size: larger;
}

.inputForm {
  display: flex;
  width: 350px;
  height: 50px;
  font-size: 1.2em;
  margin-top: 8px;
  margin-bottom: 25px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding: 0px 15px 0px 15px;
}

.inputLogin {
  display: flex;
  justify-content: center;
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  border: none;
  padding: 10px;
}

.lostPasswordUnderline {
  text-decoration: underline;
}

.footerNavLogin {
  justify-content: flex-end;
}

.errorInput {
  border: red;
}

/****** Modal-One ******/
.titleModalOne {
  text-align: center;
  margin-bottom: 46px;
  font-size: 26px;
}

.modalGallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 29px;
  margin-bottom: 98px;
}
.modalGallery img {
  width: 77px;
  height: 102px;
}

.buttonAddPictureAccessModal {
  font-family: syne;
  color: #fff;
  border: none;
  border-radius: 60px;
  padding: 10px 54px 10px 54px;
  margin-top: 25px;
  background: #1D6154;
  cursor: pointer;
}

.fa-trash-can {
  position: absolute;
  top: 6px;
  right: 5px;
  color: #fff;
  background: black;
  padding: 3px 4px 3px 4px;
  font-size: 10px;
  font-weight: 900;
  border-radius: 2px;
  cursor: pointer;
}

/*********** Modal-Two Add Picture ***********/
.fa-arrow-left {
  position: absolute;
  top: 26px;
  left: 30px;
  font-size: 26px;
  color: #000;
  cursor: pointer;
}

.modal-two-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
}

.formAddPicture {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.formAddPicture .addPicture {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 420px;
  height: 170px;
  background-color: #E8F1F6;
  gap: 12px;
  margin-top: 17px;
  margin-bottom: 10px;
}
.formAddPicture .addPicture .fa-image {
  font-size: 68px;
  color: #B9C5CC;
}
.formAddPicture .addPicture .addPictureButton {
  color: #306685;
  background-color: #CBD6DC;
  font-weight: 700;
  border-radius: 50px;
  padding: 10px 33px 10px 33px;
  cursor: pointer;
}
.formAddPicture .addPicture .hidden-input {
  display: none;
}
.formAddPicture .addPicture .preview-added-picture {
  display: none;
  width: 35%;
  height: 100%;
}
.formAddPicture .addPicture .text-add-picture {
  font-size: x-small;
}

.titleInputPicture {
  display: flex;
  flex-direction: column;
}
.titleInputPicture .modalPictChampInput {
  width: 420px;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  margin-top: 12px;
}

.categorieSelect {
  display: flex;
  flex-direction: column;
}
.categorieSelect .modalPictChampInput {
  width: 420px;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  margin-top: 12px;
}

.buttonValidatePicture {
  font-family: syne;
  color: #fff;
  border-radius: 60px;
  padding: 10px 92px 10px 92px;
  margin-bottom: 12px;
  background: #A7A7A7;
  border: none;
  cursor: pointer;
  /**&:focus {/
  	background-color: #1D6154;
  	color: #fff;
  /*}*/
}

.buttonValidatePictureActive {
  font-family: syne;
  color: #fff;
  border-radius: 60px;
  padding: 10px 92px 10px 92px;
  margin-bottom: 12px;
  background: #1D6154;
  border: none;
  cursor: pointer;
}

/*# sourceMappingURL=newstyle.css.map */
